body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}
input#form3Example4 {
  border-radius: 0;
}
input#form3Example3 {
  border-radius: 0;
}
thead.table-dark {
  height: 4rem;
  background-color: navy;
}
tr {
  text-align: center;
}
th {
  font-weight: 100;
  background-color: navy;
  /* padding-bottom: 2rem; */
}
input#id {
  border-radius: 0px;
  height: 3rem;
  border-color: black;
}
button.btn.btn-secondary {
  width: 40%;
  border-radius: 0;
}
b {
  font-weight: 400;
  font-size: 1rem
;
  color:white;
}
a.nav-link {
  color: white;
}
h2 {
  text-align: center;
}


button#reg {
  background-color: black;
}
button.btn.btn-dark.btn-lg {
  font-size: 25px;
  font-weight:100;
  border-radius: 0px;
  height: 3.5rem;
  width: 55%;
  margin-left: 7rem;
  /* text-align: center; */
  /* justify-content: center; */
  align-items: center;
}

.footer {
    margin-top: auto;
    position: fixed;
    bottom: 0;
    width:100%;
    /* height: 40px; */
    background-color: #000080;
    text-align: center;
    color: white;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 1rem;
}


/* .container{
    background-color: white;
} */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
span {
  color:white;
}
h2 {
  color: navy;
  font-size: 2rem;
}
.about-section {
  background-color: #1A43BF;
}

button.btn.btn-dark.btn-lg {
  background-color: #4895EF;
}
button.btn.btn-secondary {
  background-color: #335dde;

}
button.btn.btn-dark.btn-floating.mx-1 {
  background-color: #4895EF;
  border: none;
}
p.p-3 {
  font-size: 20px;
  font-weight: 100;
}
